<launch>
  <node name="usb_cam" pkg="uvc_camera" type="uvc_camera_node" output="screen">
		  <param name="device" value="/dev/video0" />
		  <param name="fps" value="5"/>
		  <param name="width" value="640" />
		  <param name="height" value="480" />
		  <param name="frame_id" value="usb_cam" />
	    </node>
  <node name="circle_detector" pkg="circle_detector" type="circle_detector_node.py" output="screen">
  </node>
  <node name="roi_filter" pkg="roi_filter" type="roi_filter_node.py" output="screen">
    <remap from="~set_ref" to="circle_detector/set_ref"/>
    <remap from="~roi" to="circle_detector/roi"/>
  </node>
</launch>
