<launch>
    <arg name="task_file_name" default="sample"/>
    <include file="$(find robocon)/launch/master.launch">
        <arg name="task_file_name" value="$(arg task_file_name)"/>
        <arg name="fsm" value="true"/>
        <arg name="camera" value="true"/>
        <arg name="camera/cam_0" default="true"/>
        <arg name="camera/cam_1" default="false"/>
        <arg name="realsense" value="false"/>
        <arg name="joystick" value="true"/>
        <arg name="odo" value="true"/>
        <arg name="encoder" value="true"/>
	    <arg name="decoder" value="true"/>
		<arg name="planner" value="true"/>
        <arg name="apriltag" value="true"/>
        <arg name="roi" value="false"/>
        <arg name="test" value="false"/>
        <!--<arg name="/ccd/ccd_detector" value="false"/>-->
    </include>
</launch>
