<launch>
	<node name="ccd_decoder_node" pkg="ccd_decoder" type="ccd_decoder_node.py" output="screen">
		<!-- Setup parameters -->
		<!--<param name="~pub_timestep" value="0.5"/>-->
		<!-- Remapping topics -->
		<!--<remap from="~topic_b" to="~topic_a"/>-->
		<!-- <remap from="~topic_b" to="talker/topic_a"/> -->
	</node>
</launch>